<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.net>
    <mailSettings>

      <smtp>
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="pmon.secure@gmail.com" password="p#word123" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <machineKey validationKey="1314B3283CE1ADC74D74D4FEC3FEBBFBF08C418E64ACAB55627E424BBE9306862750FCF0DA641064F51C732E0DDA43F7BD86BAFB5812F1DF36135749B939000E" decryptionKey="BACE48FECDD3C863B01324FFCE04FBCF44DFFEE216157DE6" validation="SHA1" decryption="AES" />
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="120">-->
    <sessionState mode="InProc" cookieless="false"></sessionState>
    

    <!--</sessionState>-->
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
