<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2147483647" />
    <pages validateRequest="false"></pages>
    <compilation debug="true" targetFramework="4.0" />
    <machineKey validationKey="7CB8DF6872FB6B35DECD3A8F55582350FEE1FAB9BE6B930216056C1B5BA69A4C5777B3125A42C4AECB4419D43EC12F168FD1BB887469798093C3CAA2427B2B89" decryptionKey="02FC52E4C71544868EE297826A613C53537DF8FDAF93FA2C64E9A5EF0BA467FB" validation="SHA1" decryption="AES" />
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="120">-->
    <sessionState mode="InProc" cookieless="false"></sessionState>
    <!--</sessionState>-->
  </system.web>
  
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="FileUpload.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647">
          <headerLimits>
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="X-File-Name,Content-Type,X-File-Type" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>
